/*
 * stylesheet for who output
 */

/*  ##### body style ##### */

body {
	background-color: white;
	color: blue;
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 94%;
	margin: 22px;
}

.whotable {
	font-style: italic;
	padding-top: 1em;
	border-style: solid;
	border-top-width: 2px;
	border-top-color: blue;
}

td.name {
	font-weight: bold;
	font-style: normal;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: cyan;
	border-top-color: blue;
}

td.tty {
	color: green;
	font-size: 12pt;
	padding-top: 3px;
	padding-left: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: pink;
	border-top-color: blue;
}

td.date {
	margin: 1px;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-width: 1px;
	background-color: #DDDDDD;
	border-top-color: #444444;
}

.number {
	color: green;
	font-style: bold;
}
